"source ~/.vimrc
"
set visualbell
set noerrorbells

let mapleader = " "

nnoremap ; :
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
map <Tab> %
map Y y$
noremap K <Nop>

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

" Better searching
set ignorecase
set smartcase
set gdefault
set incsearch
set showmatch
set hlsearch
set scrolloff=3
nnoremap <leader>, :noh<cr>

" vim delete and change, with sexps!
map <leader>x :action :cursive.actions.paredit/kill-sexp<CR>
"map <leader>d :action :cursive.actions.paredit/kill<CR>
map D :action :cursive.actions.paredit/kill<CR>
map <leader>c :action :cursive.actions.paredit/kill-sexp<CR>i
map C :action :cursive.actions.paredit/kill<CR>i

" Since kill copies to system clipboard, it's nice to have easy access to clipboard paste
map <leader>p "+p

" Sexp editing mappings straight from paredit.vim
map <leader>J :action :cursive.actions.paredit/join<CR>
map <leader>O :action :cursive.actions.paredit/split<CR>
map <leader>S :action :cursive.actions.paredit/splice<CR>
map <leader>I :action :cursive.actions.paredit/raise<CR>

" Slurp and barf
map < :action :cursive.actions.paredit/barf-forwards<CR>
map > :action :cursive.actions.paredit/slurp-forwards<CR>
" map <leader>L :action :cursive.actions.paredit/slurp-backwards<CR>
" map <leader>H :action :cursive.actions.paredit/barf-backwards<CR>

" leader + wrapping symbol for wrapping
map <leader>( :action :cursive.actions.paredit/wrap-paren<CR>
map <leader>[ :action :cursive.actions.paredit/wrap-square<CR>
map <leader>{ :action :cursive.actions.paredit/wrap-curly<CR>
map <leader>" :action :cursive.actions.paredit/wrap-quotes<CR>

" Cycle collection
" map <leader>C :action :cursive.actions.paredit/cycle-collection-type<CR>

" Evaluate sexp like in vim-fireplace
map cpp :action :cursive.repl.actions/run-top-sexp<CR>

" Force a single "parinference" when in paredit mode and reformat
map <leader>rp :action :cursive.actions.paredit/toggle<CR>:action :cursive.actions.paredit/toggle<CR>kj:action :cursive.actions.paredit/toggle<CR>:action ReformatCode<CR>

"nmap <leader>b :action Back<cr>
"nmap <leader>f :action Forward<cr>

nmap <C-f> :action GotoFile<cr>
"nmap <leader>c :action GotoClass<cr>
nmap <leader>ns :action GotoSymbol<cr>
nmap <leader>nm :action FileStructurePopup<cr>
nmap gh :action ShowErrorDescription<cr>
nmap <leader>g :action QuickJavaDoc<cr>
nmap gd :action GotoDeclaration<cr>

" Press `f` to activate AceJump
map f :action AceAction<CR>
" Press `F` to activate Target Mode
map F :action AceTargetAction<CR>
" Press `g` to activate Line Mode
map <leader>k :action AceLineAction<CR>
